openapi: 3.0.3
info:
  title: Symanto API
  version: '1.0'
servers:
  - url: 'https://api.symanto.net'
paths:
  /communication:
    post:
      tags:
        - Text Analysis
      summary: Communication & Tonality
      description: |-
        Understand the basic user aspects of the author.

        Supported Languages: ar, cn, de, en, es, fr, it, nl, pt, ru, tr

        This is an aggregation call for all the other bua calls.
      operationId: communication
      parameters:
        - name: all
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
  /emotion:
    post:
      tags:
        - Text Analysis
      summary: Emotion Analysis
      description: |-
        Performs emotion analysis on the text.

        Supported Langauges: en, de, es

        Returned labels:
        * anger
        * joy
        * love
        * sadness
        * unrecognized
      operationId: emotion
      parameters:
        - name: all
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
  /personality:
    post:
      tags:
        - Text Analysis
      summary: Personality Traits
      description: |-
        Personality traits evaluates content and writing style to determine how the author makes decisions. 

        Our model identifies whether an author is Emotional (relationship-oriented, focusing on social values and empathy) or Rational (objective and pragmatic, focusing on facts and logical deduction). 

        Supported Languages: ar, cn, de, en, es, fr, it, nl, pt, ru, tr

        Returned labels:

        * yes
        * no
      operationId: personality
      parameters:
        - name: all
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
  /sentiment:
    post:
      tags:
        - Text Analysis
      summary: Sentiment Analysis
      description: |-
        Understand whether your text has a positive or negative sentiment.

        Supported Languages: en, de, es

        Returned labels:
        * positive
        * negative
        * unrecognized
      operationId: sentiment
      parameters:
        - name: all
          in: query
          schema:
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PredictionResults'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
  /topic-sentiment:
    post:
      tags:
        - Text Analysis
      summary: Extracts topics and sentiments and relates them.
      operationId: topic-sentiment
      parameters:
        - name: domain
          in: query
          description: Provide analysis domain for better extraction (optional) 
          schema:
            enum:
              #- Airlines
              #- Automative
              #- Banking
              - Ecom
              - Employee
              #- Gaming
              #- Hotel
              #- Pharma
              #- Retail
              #- Restaurant
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRequest'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopicSentimentResponse'
  /language-detection:
    post:
      tags:
        - Text Analysis
      summary: Language Detection
      description: |-
        Identifies what language a text is written in. Only languages that our API supports can be analyzed.

        Returned labels:
        * language_code of the detected language
      operationId: language-detection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LanguageDetectionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguageDetectionResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrors'
components:
  schemas:
    PostRequest:
      title: Posts
      maxItems: 32
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/Post'
    LanguageDetection:
      required:
        - text
      type: object
      properties:
        id:
          type: string
          description: id of the text.
        text:
          type: string
          description: the text itself.
    Post:
      title: Post
      required:
        - text
        - language
      type: object
      properties:
        id:
          type: string
          description: id of the post.
          example: 1
        text:
          type: string
          description: the text to be analysed.
          example: I love the service
        language:
          type: string
          description: language_code of the text.
          example: en
    LanguagePredicted:
      title: LanguagePredicted
      required:
        - detected_language
      type: object
      properties:
        id:
          type: string
          description: id of the post.
        detected_language:
          type: string
          description: the detected language_code corresponding to the input text.
    PostPredicted:
      title: PostPredicted
      required:
        - predictions
      type: object
      properties:
        id:
          type: string
          description: id of the post.
        predictions:
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: the list of predictions.
    PostPredictedBua:
      title: PostPredictedBua
      required:
        - personalities
        - self
        - info
        - action
        - fact
      type: object
      properties:
        id:
          title: Id
          type: string
          description: id of the text.
        personalities:
          title: Personalities
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: predictions for the personality bua.
        self:
          title: Self
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: predictions for the self-revealing bua.
        info:
          title: Info
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: predictions for the information-seeking bua.
        action:
          title: Action
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: predictions for the action-seeking bua.
        fact:
          title: Fact
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          description: predictions for the fact-oriented bua.
    Prediction:
      title: Prediction
      required:
        - prediction
        - probability
      type: object
      properties:
        prediction:
          title: Prediction
          type: string
          description: the predicted label.
        probability:
          title: Probability
          type: number
          description: the probability of the predicted label.
    PostBuaResponse:
      title: PostBuaResponse
      type: array
      items:
        $ref: '#/components/schemas/PostPredictedBua'
    PredictionResults:
      title: Prediction Results
      type: array
      items:
        $ref: '#/components/schemas/PostPredicted'
    LanguageDetectionRequest:
      maxItems: 64
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/LanguageDetection'
    LanguageDetectionResponse:
      type: array
      items:
        $ref: '#/components/schemas/LanguagePredicted'
    TopicSentimentOutput:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        language:
          type: string
        topicSentiments:
          type: array
          items:
            $ref: '#/components/schemas/TopicSentiment'
        sentiments:
          type: array
          items:
            $ref: '#/components/schemas/Sentiment'
        topics:
          type: array
          items:
            $ref: '#/components/schemas/Topic'
    TopicSentiment:
      type: object
      properties:
        topic:
          $ref: '#/components/schemas/Topic'
        sentiment: 
          $ref: '#/components/schemas/Sentiment'
        sentence:
          type: string
    Sentiment:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        text:
          type: string
        positive:
          type: boolean
        scale:
          type: number
          format: double
        category:
          type: string
        parentCategory:
          type: string
        negationTerm:
          type: string
    Topic:
      type: object
      properties:
        start:
          type: integer
          format: int32
        end:
          type: integer
          format: int32
        topic:
          type: string
        text:
          type: string
        category:
          type: string
        polarity:
          type: number
          format: double
    TopicSentimentResponse:
      type: array
      items:
        $ref: '#/components/schemas/TopicSentimentOutput'
    ValidationErrors:
      title: ValidationErrors
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: x-api-key
      in: header
security:
  - apiKeyHeader: []
